:root {
    --button: #2e51a2;
    --blue: #1c439b;
    --lightblue: #8ba4de;
    --navHover: #e1e7f5;
    --black: #323232;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    font-family: Avenir,lucida grande,tahoma,verdana,arial,sans-serif;
}

body {
    position: relative;
    width: 100%;
}

#root {
    width: 100%;
}

#my-gaming-list {
    margin: auto; 
    width: 1060px;
}

#my-gaming-list>div{
    min-height: 90vh;
    border: solid 1px #bebebe;
    min-width: fit-content;
}

nav {
    display: flex;
    flex-direction: column;
    padding: 8px 0 0;
    gap: 8px;
    min-width: 1062px;
    width: 90%;
}

#nav-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a, a:visited, #footer-message a, #footer-message a:visited {
    text-decoration: none;
    color: inherit;
}

button.input-button {
    background-color: #4065ba;
    border-bottom-color: #2e51a2;
    border-bottom-width: 1px;
    border-left-color: #6c8cd8;
    border-left-width: 1px;
    border-right-color: #2e51a2;
    border-right-width: 1px;
    border-style: solid;
    border-top-color: #6c8cd8;
    border-top-width: 1px;
    color: #fff;
    cursor: pointer;
    font-family: lucida grande,tahoma,verdana,arial,sans-serif;
    font-size: 11px;
    padding: 1px 3px;
}

button:hover, #user-nav>*:hover {
    cursor: pointer;
}

#logo {
    max-height: 1.6rem;
    display: flex;
    align-items: center;
}

h1 { 
    color: var(--blue);
    font-size: 2rem;
}

#sign-in {
    border: var(--button) 2px solid;
    border-radius: 2px;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    line-height: 100%;
    margin-left: 8px;
    padding: 4px 0;
    text-align: center;
    text-decoration: none;
    width: 90px;
    background-color: var(--button);
    color: white;
}

#user-nav {
    display: flex;
    align-items: center;
    gap: 5px;
}

#user-lists-button, #user-options-button {
    position: relative;
    display: flex;
    align-items: center;
}

#user-lists, #user-options {
    position: absolute;
    top: 120%;
    right: 0;
    display: flex;
    flex-direction: column;
    border: 2px solid var(--blue);
    z-index: 15;
}

#user-options {
    width: 100%;
}

#user-lists>*, #user-options>* {
    width: 100%;
    padding: 3px;
    border-bottom: 1px solid var(--blue);
    background-color: white;
    transition: 0.2s ease-in-out;
    white-space: nowrap;
    color: var(--blue);
}

#user-lists>*>*, #user-options>*>* {
    background-color: inherit;
    padding: 0 5px;
    width: 100%;
    color: inherit;
    text-align: start;
}

#user-lists>*:last-child, #user-options>*:last-child {
    border-bottom: 0;
}

#user-lists>*:hover, #user-options>*:hover {
    background-color: var(--navHover);
}

#list-icon, #nav-profile-pic {
    height: 30px;
    width: 30px;
}

#nav-profile-pic {
    border: 1px solid var(--lightblue);
}

#nav-profile-pic:hover {
    filter: drop-shadow(0 0 1px var(--lightblue));
}

#arrow-icon {
    height: 25px;
    width: 25px;
}

#user-options-button>button{
    display: flex;
    align-items: center;
    font-weight: bold;
    background-color: white;
    font-size: 14px;
    height: 30px;
    transition: 0.2s ease-in-out;
    padding-left: 5px;
    border-radius: 2px;
    color: var(--black);
}

#user-options-button>button:hover {
    background-color: var(--navHover);
}

#nav-bottom {
    background-color: var(--button);
    color: white;
    display: flex;
    height: 34px;
    align-items: center;
    justify-content: space-between;
}

#platforms {
    display: flex;
    font-size: 13px;
    font-weight: 700;
    height: 100%;
}

.platform {
    padding: 0 8px;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: default;
    position: relative;
}

.platform:hover {
    background-color: var(--navHover);
    color: var(--black);
}

.platform:hover .platform-links, .platform:hover .platform-links * {
    display: block;
}

.platform-links, .platform-links * {
    display: none;
}

.platform-links {
    position: absolute;
    top: 100%;
    left: 0;
    display: flex;
    flex-direction: column;
    z-index: 10;
}

.platform-links>* {
    width: 100%;
    height: 35px;
    font-weight: 400;
    padding: 8px 5px;
    white-space: nowrap;
    background-color: var(--navHover);
    color: var(--black);
}

.platform-links>*:hover {
    background-color: var(--button);
    color: white;
}

.platform-links button {
    width: 100%;
    text-align: start;
    font-size: 11px;
    background-color: inherit;
    padding: 4px 5px;
    color: inherit;
}

#search-bar {
    display: flex;
    height: 22px;
    margin-right: 6px;
}

#search-bar>*{
    height: 100%;
    color: var(--black);
    font-size: 11px;
    background-color: white;
    text-indent: 4px;
}

#search-bar select {
    border-radius: 5px 0 0 5px;
}

#search-bar button {
    width: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--navHover);
    border-radius: 0 5px 5px 0;
}

#search-bar #search-container {
    border-left: 1px solid var(--button);
    text-indent: 0;
    z-index: 10;
}

#search-bar input {
    color: #787878;
    width: 286px;
    height: 100%;
    padding-left: 4px;
}

#search-bar img {
    width: 14px;
    height: 15px;
}

#search-results {
    border: 1px #bebebe solid;
}

#search-results.hide, .search-result .hide  {
    display: none;
}

.search-result {
    display: flex;
    background-color: white;
    padding: 1px;
    width: 286px;
}

.search-result .image-container {
    width: 58px;
    height: 38px;
    border: 1px solid #bebebe;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.search-result:hover .image-container {
    height: 90px;
}

.search-result:hover .title-date {
    display: flex;
    gap: 3px;
    flex-wrap: wrap;
}

.search-result:hover {
    background-color: var(--navHover);
}

.search-result:hover .hide {
    display: block;
}

#search-results .search-result:hover .image-container img {
    width: 300%;
}

#search-results .image-container img {
    width: 100%;
    height: auto;
}

.result-info { 
    padding-left: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: var(--button);
    width: 224px;
}

.search-result:hover .result-info {
    justify-content: flex-start;
}

.result-info .title {
    color: var(--button);
    line-height: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 11px;
}

.search-result:hover .result-info .title {
    color: var(--button);
    font-weight: bold;
}

.result-info .date {
    color: #787878;
    font-size: 9px;
    line-height: 15px;
    font-family: Verdana,Arial;
}

.result-info .hide {
    color: #444;
    font-size: 10px;
    font-weight: 400;
    line-height: 15px;
}

#results-footer div {
    background-color: var(--navHover);
    color: var(--button);
    padding: 8px;
    display: flex;
    gap: 3px;
}

#results-footer a {
    width: 100%;
}

#results-footer span{
    text-decoration: underline;
    font-weight: bold;
}

footer {
    position: relative;
    bottom: 0;
    left: 0;
    height: 20vh;
    color: white;
    text-align: center;
    flex: 1 0;
    min-width: 1060px;
}

footer>div:first-child {
    height: 5vh;
    background-color: transparent;
    pointer-events: none;
}

footer>div:last-child {
    display: flex;
    flex-direction: column;
    padding: 5px;
    gap: 5px;
    height: 15vh;
    justify-content: center;
    font-size: 12px;
    background-color: var(--blue);
}

footer a:hover {
    text-decoration: underline;
}
