#review {
    font-size: 11px;
}

#review>h1 {
    background-color: #e1e7f5;
    border-bottom-color: #1c439b;
    border-left-color: #e5e5e5;
    border-right-color: #e5e5e5;
    border-style: solid;
    border-top-color: #e5e5e5;
    border-width: 1px;
    color: #000;
    font-family: Verdana,Arial;
    font-size: 16px;
    font-weight: 700;
    margin: 0;
    padding: 5px 9px;
    text-align: left;
}

#review .editor {
    margin-top: 15px;
    padding: 5px 10px 10px;
    display: flex;
}

#review .editor .left {
    width: 70%;
    padding: 0 8px;
    border-right: 1px solid #f0f0f0;
}

#review .editor h4 {
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 4px;
}

#review .editor .left>h4 {
    margin-bottom: 20px;
}

#review .editor textarea {
    border: 1px solid #d8d8d8;
    height: 300px;
    line-height: 18px;
    padding: 14px;
    width: 701px;
    resize: none;
    margin-bottom: 24px;
}

#review .editor .scores {
    display: flex;
    gap: 4px;
    align-items: center;
}

#review .editor .scores button {
    background-color: #fff;
    border: 1px solid #d8d8d8;
    border-radius: 4px;
    color: #787878;
    height: 25px;
    text-align: center;
    transition: all .1s ease-in-out;
    width: 40px;
}

#review .editor .scores button:hover, #review .editor .scores .current {
    background-color: #e1e7f5;
    border-color: #e1e7f5;
    color: #2e51a2;
}

#review .scores p {
    margin-left: 12px;
    color: #2e51a2;
}

#review .scores p::before {
    margin-right: 4px;
    content: '✓';
    border-radius: 50%;
    padding: 0 1px;
    background-color: #1c439b;
    color: #fff;
}

#review .editor .right {
    padding-left: 8px;
    flex: 1;
}

#review .right>div {
    padding: 16px 8px;
    width: 100%;
}

#review .editor .right .buttons {
    display: flex;
    gap: 6px;
    align-items: center;
    justify-content: center;
}

#review .editor .right button {
    font-size: 12px;
    padding: 6px 12px;
    border: 1px solid transparent;
    border-radius: 4px;
    width: 130px;
    background-color: #fff;
    border-color: #c4c4c4;
    color: #1c439b;
    height: 28px;
}

#review .editor .buttons .publish {
    padding: 3px 12px;
    background-color: #4065ba;
    border-color: #4065ba;
    color: #fff;
}

#review .buttons .publish span {
    font-size: 15px;
}

#review .recommend-options h4, #review .delete-options h4 {
    margin-bottom: 12px;
}

#review .recommend-options input {
    display: none;
}

#review .recommend-options label {
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 4px;
    margin-bottom: 2px;
    padding: 6px 10px 4px 6px;
    cursor: pointer;
}

#review .recommend-options .checked label {
    background-color: #e1e7f5;
}

#review .recommend-options label::before {
    background-color: #fff;
    border: 1px solid #c4c4c4;
    border-radius: 100%;
    content: '';
    cursor: pointer;
    height: 1.2em;
    margin-right: 1em;
    transition: all .25s ease-in-out;
    width: 1.2em;
}

#review .recommend-options .checked label::before {
    background-color: #4065ba;
    border-color: #4065ba;
    box-shadow: inset 0 0 0 3px #fff;
}

#review .recommend-options p {
    color: gray;
    margin-bottom: 12px;
    line-height: 1.5em;
}

#review .right>div:not(:last-child) {
    border-bottom: 1px solid #f0f0f0;
}

#review .right .delete-options button {
    background-color: #fff;
    border-color: #e52828;
    color: #e52828;
}

#review .right .delete-options p {
    margin-top: 12px;
    color: gray;
}

#review .editor .preview {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding-top: 18vh;
    z-index: 15;
    overflow-y: auto;
    background-color: rgb(0 0 0 / 25%);
}

#review .editor .preview.hide {
    transform: scale(0);
}

#review .preview .container {
    position: relative;
    box-shadow: 5px 5px 5px rgb(0 0 0 / 25%);
    width: 90%;
    height: auto;
    margin: 2em auto 0;
}

#review .preview .preview-box {
    position: relative;;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 0.3rem;
    color: #000;
    display: flex;
    flex-direction: column;
}

#review .preview-box .header {
    padding: 1.5rem;
    position: relative;
}

#review .preview-box .header button {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: transparent;
    color: gray;
    font-size: 20px;
    font-weight: 900;
    cursor: pointer;
} 

#review .preview-box .review {
    padding: 8px;
    padding-bottom: 20px;
}

#review .preview-box .review .bottom {
    display: none;
}

#review .warning {
    background-color: #f5e1e1;
    overflow: hidden;
    padding: 8px 12px 16px;
    margin-bottom: 12px;
    line-height: 1.5em;
    transition: all ease-in-out .3s;
}

#review .warning h4 span {
    font-size: 15px;
}

#review .warning p {
    margin-bottom: 8px;
}

#review .warning ul {
    padding-left: 16px;
}

#review .warning.hide {
    height: 0;
    padding: 0;
    margin: 0;
}

#review>div:not(:first-of-type) {
    display: none !important;
}

#review .after-message {
    width: 95%;
    margin: 15px auto;
    background-color: #e1e7f5;
    border-color: #1c439b;
    border-style: solid;
    border-width: 2px;
    padding: 10px;
    text-align: center;
}

#review .after-message.trouble {
    background-color: #f5e1e1;
    border-color: #b25959;
}

#review .view-only {
    margin-top: 12px;
    padding: 5px 10px 10px;
}

#review .view-only .header {
    display: flex;
    justify-content: flex-start;
    gap: 3px;
    align-items: center;
}

#review .view-only .header a {
    color: #1c439b;
    font-weight: 700;
}

#review .view-only .header a:hover {
    text-decoration: underline;
}

#review .view-only .header p a, #review .view-only .header p {
    font-size: 9px;
    font-weight: 400;
}

#review .review .game-img {
    display: flex;
}

#review .review .bottom *:not(.edit) {
    display: none;
}

