.review {
    padding: 6px 0;
    border: 0 solid #e5e5e5;
    border-width: 0 0 1px;
    display: flex;
    margin-top: 0.5em;
    padding-bottom: 0.5em;
    width: 100%;
}

.reviewer {
    width: 50px;
    height: 50px;
    border: 1px solid #bebebe;
}

.reviewer img {
    width: 100%;
    height: 100%;
}

.review .info {
    gap: 0px;
    padding: 0;
    margin-left: 6px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.review .top {
    margin-bottom: 12px;
    display: flex;
    justify-content: space-between;
    line-height: 1.5em;
}

.review .author {
    color: #1c439b;
    font-weight: 700;
}

.review .date {
    color: #787878;
}

.review .recommended, .review .not-recommended, .review .mixed-feelings {
    background-color: #f0f0f0;
    border: 1px solid #f0f0f0;
    border-radius: 2px;
    color: #26448f;
    display: inline-block;
    font-weight: 900;
    padding: 3px 6px;
    width: fit-content;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
}

.review .recommended::before {
    content: '★';
    margin-right: 3px;
    font-size: 14px;
}

.review .not-recommended::before {
    content: '☆';
    margin-right: 3px;
    font-size: 14px;
}

.review .not-recommended {
    color: #a12f31;
}

.review .mixed-feelings::before {
    content: '⯪';
    margin-right: 3px;
    font-size: 14px;
}

.review .mixed-feelings {
    color: #787878;
}

.review .content {
    white-space: pre-line;
    word-wrap: break-word;
    line-height: 1.5em;
}

.review .game-img {
    float: right;
    margin-left: 10px;
    width: 50px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 70px;
    display: none;
}

.review .game-img img {
    height: 100%;
}

.review .rating {
    margin-top: 16px;
    color: #323232;
}

.review .rating span {
    color: #000;
    font-weight: 700;
}

.review .hide {
    display: none;
}

.review .bottom {
    margin: 16px 0 10px;
    display: flex;
    gap: 12px;
    align-items: center;
}

.review .bottom>* {
    background-color: transparent;
    color: #787878;
    transition-duration: .3s;
    transition-property: all;
    transition-timing-function: ease-in-out;
    font-size: 11px;
}

.review .bottom>*:hover {
    color: #1c439b;
}

.review .bottom .show-less::before {
    content: '▴';
    margin-right: 3px;
    font-size: 15px;
}

.review .bottom .read-more::before {
    content: '▾';
    margin-right: 3px;
    font-size: 15px;
}

.review .bottom a::before {
    content: '↗';
    margin-right: 3px;
    font-size: 15px;
    font-weight: bold;
}

.review .edit {
    margin-left: auto;
    margin-right: 8px;
}