.review {
    border: 0 solid #e5e5e5;
    border-width: 0 0 1px;
    display: flex;
    margin-top: 0.5em;
    padding-bottom: 0.5em;
    width: 100%;
    gap: 8px;
}

.review .image {
    width: 50px;
    height: 70px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    border: 1px solid #bebebe;
}

.review .image img {
    width: 300%;
    flex-shrink: 0;
}

.review .info {
    flex: 1;
    font-size: 11px;
    line-height: 9px;
}

.review .top {
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 3px 0;
    padding: 3px 0;
    gap: 5px;
}

.review .title {
    color: #1c439b;
    font-weight: 700;
}

.review .title:hover {
    text-decoration: underline;
}

.review .rating {
    margin-left: auto;
}

.review .rating, .review .bottom {
    color: #888;
    font-size: 10px;
}

.review .content {
    margin: 3px 0;
    padding: 3px 0;
    line-height: 16.5px;
    font-size: 11px;
}

.review .read-more, .review .author {
    color: #1c439b;
}

.review .read-more:hover, .review .author:hover {
    text-decoration: underline;
}



